.row{
    display:flex;
    flex-direction: row;
}

.square{
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    color: black;
    font-weight: bolder;
    padding-bottom: 20px;
}

.b-bottom-r{
    border-right: 7px solid black;
    border-bottom: 7px solid black;
}

.b-bottom{
    border-bottom: 7px solid black;
}
.b-right{
    border-right: 7px solid black;
}

.game{
    font-weight: bold;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: black;
}